#footer {
	@include margin-overflow-fix;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	> .wrap {
		@include container;
		padding-top: 3rem;
		padding-bottom: 3rem;
		border-top: 1px solid rgba($color-secondary, 0.5);
	}
}
