//* Reset 
.comment-list,
.comment-list .children {
	@include reset-list;
}

//* Structure
#comments-template {
	margin-bottom: $vertical__space;
}

.comment-respond {
	margin-bottom: $vertical__space;
}

#comments .comment article,
.comment-respond {
	padding-left: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem - $vertical__space;
}

//* Nesting
#comments .children,
#comments .comment-respond {
	margin-left: 2rem;
}	

//*comments
#comments {
	position: relative;

	.comments-title {
		@include font-dimension(sm);
		text-transform: uppercase;
		margin-bottom: 2px;
		float: right;
	}

	.comment-list {
		clear: both;
	}

	.comment {
		article {
			border-left: 1px solid $gray;
			border-top: 1px solid $gray;
			border-bottom: 1px solid $gray;
			// margin-bottom: -1px;
		}
		
		.comment-meta {
			margin-bottom: 1em;
			font-size: get-font-size(sm);
			line-height: 1;
			color: $gray;

			.comment-author {
				margin-right: 1px;
				font-familiy: get-font-familiy(secondary);
				font-weight: get-font-weight(bold, secondary);
				font-size: get-font-size(base);
				font-style: normal;
				color: $white;
			}

			.comment-published {
				margin: 0 1px;
			}

			.comment-reply-link {
				margin: 0 1px;
				color: inherit;
				&:before {
					// @include icon('fa-reply');
					// padding-right: 4px;
				}
			}
		}

		.comment-content {
			// font-size: $font__size-small;
			// line-height: 1.625;

			p:not(:last-child) {
				margin-bottom: 0.75em;
			}
		}
	}
}

//* Reply styling
.comment-respond {
	border-left: 1px solid $gray;
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;
	margin-bottom: -1px;
	position: relative;

	.comment-reply-title {
		margin-bottom: 1rem;
	}

	#cancel-comment-reply-link {
		position: absolute;
		right: 0;
		margin-top: 2px;
		text-decoration: none;

		.icon:before {
			content: '\00d7';
		}

		.icon:hover:before {
			color: lighten($color-primary, 10%);
		}
	}

	.comment-form-comment,
	.comment-form-legit,
	.comment-form-author,
	.comment-form-url,
	.comment-form-email {}

	label {
		@include font-dimension(sm);
		display: block;
	}

	.comment-form-comment {
		textarea {
			width: 100%;
		}
	}

	//* Hide spamfield
	.comment-form-legit {
		display: none;
	}
	
	.comment-form-footer {
		display: flex;
		flex-wrap: wrap;
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		margin-left: -0.75rem;
		margin-right: -0.75rem;
	}

	.form-submit {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
		margin-left: 0.75rem;
		margin-right: 0.75rem;
	}

	.comment-form-notice {
		@include font-dimension(xs);

		flex-basis: 100px;
		flex-grow: 1;
		flex-shrink: 0;
		margin-top: 2px;
		margin-left: 0.75rem;
		margin-right: 0.75rem;
		color: $gray;
	}

}

