/* Box-sizing
-------------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*, *::after, *::before {
	box-sizing: inherit;
}

/* Address Flexbox Bugs
 *
 * Useful documentation: https://github.com/philipwalton/flexbugs 
-------------------------------------------------------------------*/
/**
 * Allow flexbox-containers to shrink below its min-content
 * Thus allowing flexboxcontainers to shrink smaller than child-image
 * See: https://teamtreehouse.com/community/firefox-flexbox-not-working
 * And: http://stackoverflow.com/questions/28710379/firefox-flexbox-image-width
 */
* {
	min-width: 0;
	min-height: 0;
}

/**
 * Make sure the html and body viewport is 100% height.
 * This way flex children can fit up all screen if necessary.
 * 
 * Maybe use min-height? Because when body content is larger than
 * screen-height, the body needs to be larger I guess?
 */
html,
body {
	height: 100%;
}

/* Body
-------------------------------------------------------------------*/
html {
	font-size: 100%;
	padding: 0;
}

body {
	font-size: 1rem;
	line-height: 1.5rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	background-color: #000000;
	color: #ffffff;
	padding: 0;
}

/* Links
-------------------------------------------------------------------*/
/* Link reset */
a {
	text-decoration: none;
	color: inherit;
}

/* Link style */
a:not(.button):hover, a:not(.button):focus, a:not(.button):active {
	text-decoration: underline;
}

.more-link {
	color: #fc5b1f;
	font-style: italic;
}

/* Headings
-------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 2.8125rem;
	line-height: 3rem;
	margin-bottom: 2.5rem;
}

h2 {
	font-size: 2.375rem;
	line-height: 2.625rem;
	margin-bottom: 2rem;
}

h3 {
	font-size: 1.625rem;
	line-height: 1.625rem;
	margin-bottom: 1.5rem;
}

h4, h5, h6 {
	font-size: 1.1875rem;
	line-height: 1.5rem;
	margin-bottom: 1rem;
}

/* Lists
-------------------------------------------------------------------*/
ul, ol {
	padding: 0 0 0 2.5rem;
	margin-top: 0;
	margin-bottom: 1.25rem;
}

ul ul, ul ol, ol ul, ol ol {
	margin-bottom: 0;
}

ul {
	list-style-type: circle;
}

ol {
	list-style-type: decimal;
}

/* Reset lists */
/* Tables
-------------------------------------------------------------------*/
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	text-align: left;
	vertical-align: middle;
}

.reset-table th,
.reset-table td {
	padding: 0;
	vertical-align: top;
}

.reset-table th {
	background-color: transparent;
	color: inherit;
}

/* Font Styles
-------------------------------------------------------------------*/
b, strong {
	font-weight: 700;
}

i, em, mark, cite {
	font-style: italic;
}

.large {
	font-size: 1.25rem;
}

.extra-large {
	font-size: 1.625rem;
}

/* Paragraphs
-------------------------------------------------------------------*/
p {
	margin-top: 0;
	margin-bottom: 1.25rem;
}

p.intro {
	font-weight: 400;
}

/* Media
-------------------------------------------------------------------*/
img,
figure,
audio,
video,
object,
embed,
iframe {
	max-width: 100%;
	height: auto;
}

figure,
audio,
video,
object,
embed,
iframe {
	margin: 0 0 1.25rem;
}

/* Horizontal Rule
-------------------------------------------------------------------*/
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	border: 0;
}

/* Blockquotes
-------------------------------------------------------------------*/
blockquote {
	margin: 1.25rem 0;
	font-style: italic;
}

blockquote i,
blockquote em,
blockquote cite {
	font-style: normal;
}

/* Code
-------------------------------------------------------------------*/
pre {
	white-space: pre-wrap;
	margin: 1.25rem 0;
}

/* Other
-------------------------------------------------------------------*/
.special {
	color: #fc5b1f;
}

/* Forms
-------------------------------------------------------------------*/
input,
select,
textarea {
	border: none;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]), input:not([type]),
select,
textarea {
	padding: 0.33rem;
	border-radius: 4px;
	border: 2px solid #DDDDDD;
}

/* Layout
-------------------------------------------------------------------*/

#site-header {
	padding: 0 50px;
}

#site-main {
	padding: 0 50px;
}

#site-footer {
	padding: 0 50px;
}

#site-header .wrap {
	margin: 0 auto;
}

.logo {
	display: block;
	background: transparent url(../img/logo.png) no-repeat 0 0;
	background-size: cover;
	width: 356px;
	height: 92px;
	margin: 75px auto 50px;
}

#site-main .wrap {
	margin: 0 auto;
	max-width: 500px;
}

#site-footer {
	padding-bottom: 25px;
}