/* Buttons
-------------------------------------------------------------------*/
$buttons:   'button',
            '.button',
            'input[type="button"]',
            'input[type="reset"]',
            'input[type="submit"]';

/* Reset button-style */
#{$buttons} {
    border: none;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}

//
// Buttons
//
#{$buttons} {
    @include font-dimension(base);
	padding: 0.3333rem 1rem;
    border-radius: 5px;
    border: 1px solid $color-primary;
	background-color: rgba($color-primary, 0);
    color: $color-primary;
    transition: all 0.2s ease;

    @include on-event {
        background-color: $color-primary;
        color: $white;
    }
}