/* Forms
-------------------------------------------------------------------*/
// $form-text-inputs: 	'input[type="color"]',
// 					'input[type="date"]',
// 					'input[type="datetime"]',
// 					'input[type="datetime-local"]',
// 					'input[type="email"]',
// 					'input[type="month"]',
// 					'input[type="number"]',
// 					'input[type="password"]',
// 					'input[type="search"]',
// 					'input[type="tel"]',
// 					'input[type="text"]',
// 					'input[type="time"]',
// 					'input[type="url"]',
// 					'input[type="week"]',
// 					'input:not([type])';

$form-text-inputs: 	'input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])',
					'input:not([type])'; // Why not type?

// Reset
input,
select,
textarea {
	border: none;
}

// Styling
#{$form-text-inputs},
select,
textarea {
	// padding: 0.33rem;
	// border-radius: 4px;
	// border: 2px solid $gray;
	border: 1px solid $gray;
	// border-radius: 3px;	
	padding: rem(4) rem(8);
	background-color: $white;

	&:hover {
		// border-color: palette(grey, dark);
	}

	&:focus {
		// color: palette(black);
		border-color: palette(primary);
	}
}

select {
	padding: rem(7) rem(8) rem(6);
}

textarea {
	resize: vertical;
	min-height: 100px;
}