/* Font Styles
-------------------------------------------------------------------*/
b, strong { 
    @include font-weight(bold, primary);
}

i, em, mark, cite { 
    font-style: italic; 
}

.large {
    font-size: get-font-size(lg);
}

.extra-large {
    font-size: get-font-size(xl);    
}

/* Paragraphs
-------------------------------------------------------------------*/

p {
    margin-top: 0;
    margin-bottom: 1.5rem;

    &.intro {
        @include font-weight(bold, primary);
    }
}

/* Media
-------------------------------------------------------------------*/
img,
figure,
audio,
video,
object,
embed,
iframe {
    max-width: 100%;
    height: auto;
}

img,
figure,
audio,
video,
object,
embed,
iframe {
    margin: 0 0 1.5rem;
}

/* Horizontal Rule
-------------------------------------------------------------------*/

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

/* Blockquotes
-------------------------------------------------------------------*/

blockquote {
    // margin: space-y() 0;
    // padding: 0 0 0 space-x();
    font-style: italic;

    i,
    em, 
    cite {
        font-style: normal;
    }
}

/* Code
-------------------------------------------------------------------*/
pre {
    // word-wrap: break-word; 
    white-space: pre-wrap; 
    // margin: space-y() 0;
}


/* Other
-------------------------------------------------------------------*/
.special {
    color: $color-primary;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}